name: CI workflow

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    container: node:20-alpine
    steps:
      - uses: action/checkout@v4

      - name: Show codebase
        run: ls
